* {
    margin: 0;
    padding: 0%;
    direction: rtl;
}

header {
    height: 700px;
    width: 100%;
    background-color: rgb(233, 140, 177);
}

.top-bar {
    width: 100%;
    height: 40px;
    background-color: rgb(232, 223, 218);
}

.navbar {

    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: beige;

}

p.logo {

    margin: 30px 30px;
}

li {
    list-style-type: none;

}

.right-side {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.photo {
    width: 450px;
    height: 600px;
    background-color: rgb(219, 240, 233);
    border-radius: 50% 50% 0 0;

}

.left-side-intro {

    margin-right: 30px;
    margin-top: 250px;

}

.header-right-side-btn {
    width: 150px;
    padding: 10px 15px;
    border: 5px solid  rgb(179, 130, 125);
    background-color: rgb(250, 244,244);
    color:  rgb(179, 130, 125);
}

.header-left-side-btn {
    width: 100px;
    padding: 15px 15px;
    background-color: rgb(179, 130, 125);
    border: none;
    color: white;

}